@model IEnumerable<Day_Hospital_e_prescribing_system.ViewModel.PrescriptionViewModel>

<section class="content">

    <div class="card">
        <div class="card-header">
            <div class="text-center ">
                @if (ViewBag.SuccessMessage != null)
                {
                    <div class="alert alert-success" role="alert">
                        @ViewBag.SuccessMessage
                    </div>
                }
            </div>
            <br />
            <h4 style="color:#268aab">List Of Prescriptions</h4>
            <br />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-8">
            <h5>Generate Report:</h5>
            <form asp-action="PharmacistReportGenerator" method="get" class="form-inline mb-3">
                <div class="form-group mr-2">
                    <label for="startDate" class="mr-2">Start Date:</label>
                    <input type="date" name="startDate" id="startDate" class="form-control" value="@ViewData["StartDate"]" />
                </div>
                <div class="form-group mr-2">
                    <label for="endDate" class="mr-2">End Date:</label>
                    <input type="date" name="endDate" id="endDate" class="form-control" value="@ViewData["EndDate"]" />
                </div>
                <button type="submit" class="btn btn-warning text-bold">Generate</button>
            </form>
        </div>
        <div class="col-md-12">
            <h5>Filter Table:</h5>
            <form asp-action="AllPrescriptions" method="get" class="form-inline mb-3">
                <div class="form-group mr-2">
                    <label for="startDate" class="mr-2">Start Date:</label>
                    <input type="date" name="startDate" id="startDate" class="form-control" value="@ViewData["StartDate"]" />
                </div>
                <div class="form-group mr-2">
                    <label for="endDate" class="mr-2">End Date:</label>
                    <input type="date" name="endDate" id="endDate" class="form-control" value="@ViewData["EndDate"]" />
                </div>
                <button type="submit" class="btn btn-warning text-bold">Filter</button>
                <div>
                    <a href="@Url.Action("AllPrescriptions", "Pharmacist")" class="btn spaced btn-danger btn-block text-bold">Reset</a>
                </div>
            </form>
        </div>
    </div>
    <div style="text-align:end">
        <button type="button" class="btn btn-info text-sm text-bold" onclick="location.href='@Url.Action("Prescriptions", "Pharmacist")'">
            Dispense Prescriptions
        </button>
    </div>


    <!-- Display Prescriptions -->
    <div class="card-body">



        @if (Model != null && Model.Any())
        {
            <div class="row">

                <table class="table table-bordered table-striped">

                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Medicine</th>
                            <th scope="col">Patient Name</th>
                            <th scope="col">Surgeon</th>
                            <th scope="col">Action</th>

                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tbody>
                            <tr>
                                <td>@item.Date.ToShortDateString()</td>
                                <td>@item.MedicationName</td>
                                <td>@item.PatientName @item.PatientSurname</td>

                                <td>DR @item.SurgeonSurname</td>
                                <td>
                                    <a asp-controller="Pharmacist"
                                       asp-route-id="@item.PrescriptionID"
                                       asp-action="ViewPrescription"
                                       class="btn btn-info">
                                        View Details
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    }
                </table>
                <div><br /></div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="submit" class="btn btn-info" style="background-color:#268aab; color:#ffffff">Back</button>
                </div>
            </div>
        }
        else
        {
            <div>
                <h3 class=" display-6 text-center text-bold" style="color:#268aab">No undispensed prescriptions found</h3>

                <br />
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="@Url.Action("PharmacistDashboard", "Pharmacist")" class="btn btn-info" style="background-color:#268aab; color:#ffffff">
                    Back
                </a>
            </div>


        }






    </div>



</section>


<style>
    tr.solved td {
        background-color: #d62828;
        color: white;
    }

    }

    tr.unsolved td {
        background-color: #FF3333;
        color: black;
    }
</style>