@model IEnumerable<Day_Hospital_e_prescribing_system.ViewModel.OrderMedicineVM>


@{
    ViewData["Title"] = "Index1";
    Layout = "~/Views/Shared/PharmacistLayout.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<section class="content">

    <div class="card">
        <div class="card-header">
            <div class="text-center ">
                @*                <img src="~/Images/zoomedLogo (2).png" width="200" />
                *@
            </div>
            <br />
            <h4 class=" display-6 text-center text-bold" style="color:#268aab">Add Stock</h4>
        </div>
    </div>

    <!-- Display patients -->
    @if (Model != null && Model.Any())
    {
        <div class="row">
            @foreach(var item in Model)
            {
                <div class="col-md-12">

                    <br />
                    <div class="card">
                        <div class="card-header">
                            <h3 style="color:#268aab">Medicine Name: @item.MedicationName </h3>
                        </div>
                        <div class="card-body">
                            <form asp-action="UpdateMedicationQuantities" method="post">
                                <div class="row">



                                    <div class="col-md-3">
                                        <label for="inputState" class="form-label">Order Date </label>
                                        <input type="text" class="form-control" placeholder="@item.Date.ToShortDateString()" disabled="disabled">
                                        <input type="hidden" class="form-control" placeholder="@item.StockID" disabled="disabled">
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label">Dosage Form</label>
                                        <input type="text" class="form-control" placeholder="@item.DosageForm" disabled="disabled">

                                    </div>

                                    <div class="col-md-3">
                                        <label class="form-label">Ordered Qty</label>
                                        <input type="text" class="form-control" placeholder="@item.Quantity" disabled="disabled">
                                    </div>

                                    <div class="col-md-3">
                                        <label for="inputState" class="form-label">Current Qty </label>
                                        <input type="text" class="form-control" placeholder="@item.QtyLeft" disabled="disabled">

                                    </div>




                                </div>
                                <br />
                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <button class="btn btn-info" type="submit"> +Add Stock</button>

                                </div>
                                <br />
                                <div class="col-md-3">
                                    <label class="form-label">Updated Qty</label>
                                    <input type="text" class="form-control " placeholder="@item.QtyReceived" disabled="disabled">

                                </div>


                            </form>


                        </div>
                    </div>
                </div>
            }
            <br />


        </div>
    }

</section>




