@{
    ViewData["Title"] = "Index1";
    Layout = "~/Views/Shared/PharmacistLayout.cshtml";
}

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="text-center ">
                @*                <img src="~/Images/zoomedLogo (2).png" width="200" />
                *@
            </div>
            <br />
            <h4 class="display-6 text-info text-center text-bold">PHARMACIST DASHBOARD</h4>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
            <div class="card text-center" style="height:200px">
                <div class="card-body " style="color: #268aab">
                    <img src="~/Images/Surgeon/prescription.png" width="40" />
                    <div>
                        <br />
                    </div>
                    <h5 class="text-bold">All PRESCRIPTIONS</h5>
                    <p class="card-text text-secondary">View all prescriptions.</p>
                    <button type="button" onclick="location.href = '@Url.Action("AllPrescriptions","Pharmacist")'" class="btn btn-outline-info">Views</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center" style="height:200px">
                <div class="card-body" style="color: #268aab">
                    <img src="~/images/pharmacist/prescription.png" width="40"/>
                    <div>
                        <br />
                    </div>
                    <h5 class="text-bold">PRESCRIBED PRESCRIPTIONS</h5>
                    <p class="card-text text-secondary">View urgent prescriptions.</p>
                    <button type="button" class="btn btn-outline-info position-relative" onclick="location.href = '@Url.Action("Prescriptions","Pharmacist")'" class="btn btn-outline-info">
                        View
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            3
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center" style="height:200px">
                <div class="card-body" style="color: #268aab">
                    <img src="~/Images/Anaesthesiologist/AdmittedPatients.png" width="40" />
                    <div>
                        <br />
                    </div>
                    <h5 class="text-bold">Add Medication</h5>
                    <p class="card-text text-secondary">View daily admission records.</p>
                    <button type="button" onclick="location.href = '@Url.Action("AddMedicine","Pharmacist")'" class="btn btn-outline-info">View</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-4">
            <div class="card text-center" style="height:200px">
                <div class="card-body" style="color: #268aab">
                    <img src="~/Images/Anaesthesiologist/MedicationRecords.png" width="40" />
                    <div>
                        <br />
                    </div>
                    <h5 class="text-bold">MEDICINE lIST</h5>
                    <p class="card-text text-secondary">Manage types of medicine.</p>
                    <button type="button" onclick="location.href = '@Url.Action("MedicineList","Pharmacist")'" class="btn btn-outline-info">View</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center" style="height:200px">
                <div class="card-body" style="color: #268aab">
                    <img src="~/images/pharmacist/transport (1).png" width="40" />
                    <div>
                        <br />
                    </div>
                    <h5 class="text-bold">Ordered Medicine</h5>
                    <p class="card-text text-secondary">Recived Stock</p>
                    <button type="button" onclick="location.href = '@Url.Action("OrderMedicines","Pharmacist")'" class="btn btn-outline-info">View</button>
                </div>
            </div>
        </div> 

        <div class="col-sm-4">
            <div class="card text-center" style="height:200px">
                <div class="card-body" style="color: #268aab">
                    <img src="~/images/pharmacist/schedule (1).png" width="40"/>
                    <div>
                        <br />
                    </div>
                    <h5 class="text-bold">Generate PDF</h5>
                    <p class="card-text text-secondary">Inventory details</p>
                    <button type="button" onclick="location.href = '@Url.Action("AllPrescriptions","Pharmacist")'" class="btn btn-outline-info">View</button>
                </div>
            </div>
        </div>
    @*    <div class="col-sm-4">
            <div class="card text-center" style="height:200px">
                <div class="card-body" style="color: #268aab">
                    <img src="~/Images/Anaesthesiologist/MedicationRecords.png" width="40" />
                    <div>
                        <br />
                    </div>
                    <h5 class="text-bold">MEDICINE lIST</h5>
                    <p class="card-text text-secondary">Manage types of medicine.</p>
                    <button type="button" onclick="location.href = '@Url.Action("Index","TutorAssign")'" class="btn btn-outline-info">View</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center" style="height:200px">
                <div class="card-body" style="color: #268aab">
                    <img src="~/Images/tutor.png" width="100" />
                    <div>
                        <br />
                    </div>
                    <h5 class="text-bold">DAILY lOGS</h5>
                    <p class="card-text text-secondary">Provide details to discharge a patient.</p>
                    <button type="button" onclick="location.href = '@Url.Action("Index","TutorAssign")'" class="btn btn-outline-info">View</button>
                </div>
            </div>
        </div>*@
        @*<div class="col-sm-4">
            <div class="card text-center" style="height:200px">
                <div class="card-body" style="color: #268aab">
                    <img src="~/Images/tutor.png" width="100" />
                    <div>
                        <br />
                    </div>
                    <h5 class="text-bold">MEDICINE REPORT</h5>
                    <p class="card-text text-secondary">Provide medicine report</p>
                    <button type="button" onclick="location.href = '@Url.Action("Index","TutorAssign")'" class="btn btn-outline-info">View</button>
                </div>
            </div>
        </div>*@

    </div>
   

</section>
