@model Day_Hospital_e_prescribing_system.ViewModel.PatientPrescriptionWithRelatedDataVM

@{
    ViewData["Title"] = "Patient Prescription";
    Layout = "~/Views/Shared/PharmacistLayout.cshtml";
}

@if (!string.IsNullOrEmpty(Model.AllergyAlert))
{
    <div class="alert alert-warning">
        @Model.AllergyAlert
    </div>
}

<html>
    <head>
        <link rel="stylesheet" href="print.css" type="text/css" media="print" />
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <section class="content">



            <!-- Display patients -->
            <div class="row">
                @*Patient's Prescription*@
                <div class="col-md-8">
                    <img src="~/images/cybermedlogo.png" style="display:none" alt="Company Logo" id="logo" />
                    <hr style="display:none" id="logo" />
                    <br />
                    <!-- Button trigger modal -->
                    @* <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Launch static backdrop modal
                    </button>*@
                    <!-- Modal -->
               
                        <div class="card" id="container">

                                <div class="card-header">
                                    <h5 style="color:#268aab">@Model.Prescription.FirstOrDefault()?.PatientName @Model.Prescription.FirstOrDefault()?.PatientSurname Prescription</h5>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <form asp-action="PatientPrescriptions" asp-route-id="@Model.Prescription.FirstOrDefault()?.PatientID" asp-controller="Pharmacist">
                                            <button type="submit" class="btn btn-info"> Patient's Prescription History</button>

                                        </form>
                                    </div>
                                </div>


                            <div class="card-body">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="inputState" class="form-label">Prescription No: </label>
                                            <lable type="text">Pres2024043020</lable>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="inputState" class="form-label">Date</label>
                                            <lable type="date">@Model.Prescription.FirstOrDefault()?.Date.ToString("yyyy-MM-dd")</lable>
                                        </div>

                                    </div>

                                    <br />
                                    <div class="row" style="justify-content:space-between">

                                        <div class="col-md-4">
                                            <label class="form-label">Patient Name: </label>
                                            <lable>@Model.Prescription.FirstOrDefault()?.PatientName @Model.Prescription.FirstOrDefault()?.PatientSurname</lable>
                                        </div>

                                        <div class="col-md-2">
                                            <label class="form-label">Gender</label>
                                            <lable>@Model.Prescription.FirstOrDefault()?.Gender</lable>
                                        </div>
                                    </div>
                                    <hr />
                                    <br />
                                <div class="row" id="presTable">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>

                                                    <th>Medication Name</th>
                                                    <th>Instructions</th>
                                                    <th>Quantity</th>
                                                    <th>Available Quantity</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if(Model.Prescription !=null)
                                                {
                                                    foreach(var prescription in Model.Prescription)
                                                    {
                                                        <tr>

                                                            <td>@(prescription.MedicationName ?? "N/A")</td>
                                                            <td>@Html.Raw(prescription.InstructionText)</td>
                                                            
                                                            <td >@((prescription.Qty).ToString())</td>
                                                            <td class="@(prescription.IsSuccess ? "bg-success" : "bg-danger")">
                                                                @prescription.QtyLeft
                                                            </td>
                                                            
                                                        </tr>
                                                    }
                                                }


                                            </tbody>
                                        </table>

                                        <br />
                                    <div class="d-grid gap-2 col-6">
                                                <form asp-action="DispensePrescription" asp-controller="Pharmacist" method="post">
                                                    <input type="hidden" name="prescriptionId" value="@Model.Prescription.FirstOrDefault()?.PrescriptionID" />
                                                    <button class="btn btn-info" type="submit">Dispense Prescription</button>
                                                </form>
                                                <a asp-action="RejectPrescription" asp-route-id="@Model.Prescription.FirstOrDefault()?.PrescriptionID" asp-controller="Pharmacist" class="btn btn-danger">
                                                     Reject Prescription
                                                   
                                                </a>
                                            
                                       
                                        

                                    </div>
                                </div>
                            </div>                 
                        </div>
                </div>
                    @*<button onclick="window.print();return false;">Print this page</button>*@

                    @*Patient Allergies*@
                   <div class="col-md-4">
                        <br />
                        <div class="card">
                            <div class="card-header">
                                <h5 style="color:#268aab">Patient Allergies</h5>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>

                                            <th scope="col">Name</th>
                                        </tr>
                                    </thead>
                                    <tbody id="allergyTableBody">
                                        @if (!string.IsNullOrEmpty(Model.AllergyAlert))
                                        {
                                            <div class="alert alert-warning">
                                                @Model.AllergyAlert
                                            </div>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            
            
            </div>

       
            <div class="row">
                 @*Patient Vitals*@
                <div class="col-md-8">
                    <br />
                    <div class="card">
                        <div class="card-header">
                            <h5 style="color:#268aab"> Patient's Vitals</h5>

                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                            
                                    <tr>

                                        <td scope="col">Date</td>
                                        <td scope="col">Time</td>
                                        <td scope="col">Body Temperature</td>
                                        <td scope="col">Heart Rate </td>
                                        <td scope="col">Blood Pressure:</td>
                                        <td scope="col">Oxygen Saturation</td>
                                    
                                    </tr>
                            
                                   @if (Model.Vitals != null)
                                   {
                                       @foreach(var vital in Model.Vitals)
                                       {
                                            <tr>
                                                <td>@vital.Date.ToString("yyyy-MM-dd")</td>
                                                <td>@vital.VitalTime.ToString().Substring(0, 5)</td>
                                                <td>@vital.BodyTemp</td>
                                                <td>@vital.HeartRate</td>
                                                <td>@vital.BloodPressure</td>
                                                <td>@vital.Oxygen</td>
                                    
                                            </tr>
                                       }
                                   }
                                   else
                                   { 
                                            <tr>
                                                <td>No patient vitals recorded</td>
                                            
                                    
                                            </tr>
                                   }
                               
                            
                            </table>
                        </div>
                    </div>
                </div>

                @*Patient Conditions*@
                  <div class="col-md-2">
                        <br />
                        <div class="card">
                            <div class="card-header">
                                <h5 style="color:#268aab"> Conditions</h5>

                            </div>
                            <div class="card-body">
                                <table class="table table-bordered">

                                    @if(Model.Conditions != null && Model.Conditions.Any())
                                    {
                                        @foreach(var condition in Model.Conditions)
                                        {
                                            <tbody>
                                                <form asp-route-id="@condition.ConditionID" asp-action="" asp-controller="">
                                                <tr>
                                                    <td>@condition.ConditionName</td>
                                                </tr>
                                                </form>

                                            </tbody>
                                        }
                                    }
                                </table>
                            </div>
                        </div>
                  </div>
            
            
                @*Patient Medication*@
                <div class="col-md-2">
                    <br />
                    <div class="card">
                        <div class="card-header">
                            <h5 style="color:#268aab">Current Medication</h5>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">

                                @if(Model.Medications != null && Model.Medications.Any())
                                {
                                    @foreach(var medication in Model.Medications)
                                    {
                                        <tbody>
                                           <form asp-action="" asp-route-id="@medication.MedicationName">
                                                <tr>
                                                    <td>@medication.MedicationName</td>
                                                </tr>
                                           </form>
                                
                                        </tbody>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5qT3RAB4nRmD" crossorigin="anonymous"></script>
    </body>
</html>



<script>
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
    })

</script>





<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


 