@model Day_Hospital_e_prescribing_system.ViewModel.ConditionsVM
@{
    ViewData["Title"] = "AddCodition2";
    Layout = "~/Views/Shared/NurseLayout.cshtml";
}



<div class="card">
    <div class="card-header">
        <div class="text-center ">
            <h3 class="display-6 text-primary text-center text-bold">CONDITIONS, ALLERGIES, MEDICATION</h3>
        </div>
    </div>
    <body>

        <form asp-action="AddCondition2" method="get">
            <input type="hidden" asp-for="AdmissionID" />
        
            <div class="card">
                <div class="card-header text-bold">
                    @Model.Name @Model.Surname
                </div>
                
                <div class="card-body">
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Search by name" />
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-secondary">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <!-- Allergies -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title text-bold">Allergies</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="allergiesTable" class="table table-bordered table-striped">
                                            <thead></thead>
                                            <tbody>
                                                @if (Model.Allergies.Any())
                                                {
                                                    foreach (var allergy in Model.Allergies)
                                                    {
                                                        <tr>
                                                            <td>@allergy.Name</td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr><td>No allergies added.</td></tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Current Medication -->
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title text-bold">Current Medication</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="medicationTable" class="table table-bordered table-striped">
                                            <thead></thead>
                                            <tbody>
                                                @if (Model.Medications.Any())
                                                {
                                                    foreach (var medication in Model.Medications)
                                                    {
                                                        <tr>
                                                            <td>@medication.Name</td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr><td>No medication added.</td></tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Conditions -->
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title text-bold">Conditions</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="conditionsTable" class="table table-bordered table-striped">
                                            <thead></thead>
                                            <tbody>
                                                @if (Model.Conditions.Any())
                                                {
                                                    foreach (var condition in Model.Conditions)
                                                    {
                                                        <tr>
                                                            <td>@condition.Name</td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr><td>No conditions added.</td></tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
        </form>
    </body>
</div>




