@model Day_Hospital_e_prescribing_system.ViewModel.AdmissionVM
@{
    ViewData["Title"] = "AdmitPatient";
    Layout = "~/Views/Shared/NurseLayout.cshtml";
    var wardSelectList = ViewBag.Wards as SelectList;
    var bedSelectList = ViewBag.Bed as SelectList;
}

<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<style>
    * {
        box-sizing: border-box;
    }

    body {
        background-color: #f1f1f1;
    }

    #regForm {
        background-color: #ffffff;
        margin: 100px auto;
        font-family: Raleway;
        padding: 40px;
        width: 70%;
        min-width: 300px;
    }

    h1 {
        text-align: center;
    }

    input {
        padding: 10px;
        width: 100%;
        font-size: 17px;
        font-family: Raleway;
        border: 1px solid #aaaaaa;
    }

        /* Mark input boxes that gets an error on validation: */
        input.invalid {
            background-color: #ffdddd;
        }

    /* Hide all steps by default: */
    .tab {
        display: none;
    }

    button {
        background-color: #007bff;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        font-size: 17px;
        font-family: Raleway;
        cursor: pointer;
    }

        button:hover {
            opacity: 0.8;
        }

    #prevBtn {
        background-color: #bbbbbb;
    }

    /* Make circles that indicate the steps of the form: */
    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

        .step.active {
            opacity: 1;
        }

        /* Mark the steps that are finished and valid: */
        .step.finish {
            background-color: #04AA6D;
        }
</style>
<div class="card">
    <div class="card-header">
        <div class="text-center ">
            <h3 class="display-6 text-primary text-center text-bold">ADMISSION</h3>
        </div>
    </div>
     </div>

<form asp-action="AdmitPatient" asp-controller="Nurse" method="post">
    <input type="hidden" asp-for="PatientID" />
            @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>
            <br />
            <br />
            <div class="card">
                <div class="body">
                    <div class="card-header text-bold">
                        <strong> @Model.Name @Model.Surname</strong>
                    </div>
                    <div class="card-body">

                        <div class="container-fluid">
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="startDate"> Date: </label>
                                    <input class="form-control" asp-for="Date" type="date" id="datePicker" />
                                </div>
                                <div class="form-group col-6">
                                    <label class="form-label">Select AM/PM:</label>
                                    <select class="form-control" asp-for="Time">
                                        <option value="AM" selected="@(Model.Time == "AM")">AM</option>
                                        <option value="PM" selected="@(Model.Time == "PM")">PM</option>
                                    </select>
                                </div>
                            </div>
                    <div class="form-group col-md-6">
                        <label asp-for="WardId">Select Ward:</label>
                        <br />
                        @Html.DropDownList("WardId", ViewBag.Wards as SelectList, "Select Ward", new { id = "wardDropdown", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.WardId, "", new { @class = "text-danger" })
                    </div>
                   
                    @if (bedSelectList != null)
                    {
                        <div class="form-group col-md-6">
                            <label asp-for="BedId">Select Bed:</label>
                            <br />
                            <select id="bedDropdown" asp-for="BedId" class="form-control">
                                @foreach (var bed in bedSelectList)
                                {
                                    <option value="@bed.Value">@bed.Text</option>
                                }
                            </select>
                        </div>
                    }
                    else
                    {
                        <div class="form-group col-md-6">
                            <label asp-for="BedId">Select Bed:</label>
                            <br />
                            <select id="bedDropdown" asp-for="BedId" class="form-control">
                                <option value="1">Select a ward first</option>
                            </select>
                        </div>
                    }
                        @Html.ValidationMessageFor(model => model.BedId, "", new { @class = "text-danger" })
                    </div>
@*                                @Html.ValidationMessageFor(model => model.BedId, "", new { @class = "text-danger" })*@
                            </div>
                            @* <div class="form-row">
                            <div class="form-group col-md-6">
                            <label asp-for="Surgery_TreatmentCodeID" for="sel1">Treatment Code:</label>
                            <br />
                            <select asp-for="Surgery_TreatmentCodeID" class="form-control" asp-items="Model.Surgery_TreatmentCode"></select>
                            </div>*@

                          @*  <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label asp-for="Surgery_TreatmentCodeID">Surgery Treatmentcode:</label>
                                    <br />
                            <input value="@Model.ICD_10_Code" class="form-control" />
                                </div>

                                <div class="form-group col-md-1">
                                    <label>&nbsp;</label>
                                    <button type="button" class="btn btn-primary form-control" onclick="location.href = '@Url.Action("EditTreatmentCode","Nurse")'" id="editTreatmentCode">
                                        <i class="fas fa-edit"></i> <!-- Font Awesome plus icon -->
                                    </button>
*@

                                    @* <div class="form-row">
                                    <div class="form-group col-md-6">*@
                                    @* <label asp-for="Surgery_TreatmentCodeID" for="sel1">Treatment Code:</label>*@
                                    <br />
                                    @*   <select asp-for="Surgery_TreatmentCodeID" class="form-control" asp-items="Model.Surgery_TreatmentCode"></select>
                                    </div>

                                    </div>*@
                                </div>


                            </div>
                             <div style="overflow:auto;">
                <div style="float:right;">
                    <button type="button" id="prevBtn" onclick="location.href = '@Url.Action("AdmissionWizard","Nurse")'">Previous</button>
            <button type="submit" id="nextBtn">Next</button>
                </div>
            </div>

                        </div>
                    </div>
                </div>

    <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
    </div>

                
              
            </div>
           

    </form>

            <!-- Circles which indicates the steps of the form: -->
@section Scripts {
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#wardDropdown').change(function () {
                var wardId = $(this).val();
                if (wardId) {
                    $.getJSON('@Url.Action("GetBeds", "Nurse")', { wardId: wardId }, function (beds) {
                        var $bedDropdown = $('#bedDropdown');
                        $bedDropdown.empty();
                        $bedDropdown.append('<option value="">Select a bed</option>');
                        $.each(beds, function (i, bed) {
                            $bedDropdown.append($('<option>', {
                                value: bed.value,
                                text: bed.text
                            }));
                        });
                    });
                } else {
                    $('#bedDropdown').empty().append('<option value="">Select a ward first</option>');
                }
            });
        });

    </script>



}
