@model Day_Hospital_e_prescribing_system.ViewModel.VitalsVM
@{
    ViewData["Title"] = "DisplayVitals";
    Layout = "~/Views/Shared/NurseLayout.cshtml";
}
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<style>
    * {
        box-sizing: border-box;
    }

    body {
        background-color: #f1f1f1;
    }

    #regForm {
        background-color: #ffffff;
        margin: 100px auto;
        font-family: Raleway;
        padding: 40px;
        width: 70%;
        min-width: 300px;
    }

    h1 {
        text-align: center;
    }

    input {
        padding: 10px;
        width: 100%;
        font-size: 17px;
        font-family: Raleway;
        border: 1px solid #aaaaaa;
    }

        /* Mark input boxes that gets an error on validation: */
        input.invalid {
            background-color: #ffdddd;
        }

    /* Hide all steps by default: */
    .tab {
        display: none;
    }

    button {
        background-color: #007bff;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        font-size: 17px;
        font-family: Raleway;
        cursor: pointer;
    }

        button:hover {
            opacity: 0.8;
        }

    #prevBtn {
        background-color: #bbbbbb;
    }

    /* Make circles that indicate the steps of the form: */
    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

        .step.active {
            opacity: 1;
        }

        /* Mark the steps that are finished and valid: */
        .step.finish {
            background-color: #04AA6D;
        }
</style>
<div class="card">
    <div class="card-header">
        <div class="text-center ">
            <h3 class="display-6 text-primary text-center text-bold">VITALS</h3>
        </div>
    </div>
    <body>
        <form asp-action="DisplayVitals" method="get">
            @*<input type="hidden" asp-for="SurgeryID" />*@
            <br />
            <br />
            <div class="card">
                <div class="body">
                    <div class="card-header text-bold">
                        @Model.Name @Model.Surname
                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8">
                                    @* <h3 class="card-title">@Model.Date.ToString("dd MMM yyyy")</h3>*@
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="allergiesTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>

                                                <th>Weight</th>
                                                <th>Height</th>

                                            </tr>
                                        </thead>
                                        <tbody readonly>
                                            <tr>
                                                <td>@Model.Weight</td>
                                                <td>@Model.Height</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="allergiesTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>

                                                @* <th>Time</th>*@
                                                <th>Date and Time</th>
                                                <th>Vitals</th>
                                                <th>Value</th>
                                                <th>Notes</th>
                                                @* <th>Respiratory Rate </th>
                                                <th>Blood Oxygen</th>
                                                <th>Blood Glucose Level</th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var vital in Model.Vitals)
                                            {
                                                <tr>
                                                    @* <td>@vital.Time</td>*@
                                                    <td>@vital.Date</td>
                                                    <td>@vital.Vital</td>
                                                    <td>@vital.Value</td>
                                                    @* <td>@vital.Min</td>
                                                <td>@vital.Max</td>*@
                                                    <td>@vital.Notes</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div style="overflow:auto;">
                                <div style="float:right;">
                                    <button type="button" onclick="location.href='@Url.Action("RetakeVitals2", new { selectedId = Model.PatientID })'">Retake</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </form>
    </body>
</div>
</html>

