@model Day_Hospital_e_prescribing_system.ViewModel.PatientViewModel
@{
    ViewData["Title"] = "DisplayCodition";
    Layout = "~/Views/Shared/NurseLayout.cshtml";
}
<section class="content">
    <div class="card">
        <div class="card-header">
            <h4 class="display-6 text-purple text-center text-bold">MEDICAL HISTORY</h4>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-8">
                                <h3 class="card-title">@Model.Name @Model.Surname</h3>
<div class="row">
    <div class="col-md-4">
        @*<h3>Allergies</h3>*@
        <table class="table">
            <thead>
                <tr>
                    <th>Allergy</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var allergy in Model.Allergies)
                {
                    <tr>
                        <td>@allergy</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        @*<h3>Chronic Conditions</h3>*@
        <table class="table">
            <thead>
                <tr>
                    <th>Chronic Conditions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var condition in Model.Conditions)
                {
                    <tr>
                        <td>@condition</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        @* <h3>Medications</h3>*@
        <table class="table">
            <thead>
                <tr>
                    <th>Current Medication</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var medication in Model.Medications)
                {
                    <tr>
                        <td>@medication</td>
                    </tr>
                }
            </tbody>
        </table>

