@model Day_Hospital_e_prescribing_system.ViewModel.CamVM
@{
    ViewData["Title"] = "PatientConditions";
    Layout = "~/Views/Shared/NurseLayout.cshtml";
}
<div class="card">
    <div class="card-header">
        <div class="text-center ">
            <h3 class="display-6 text-primary text-center text-bold">CONDITIONS, ALLERGIES, MEDICATION</h3>
        </div>
    </div>
    <body>
        <br />
        <br />
        <form asp-action="PatientConditions" asp-controller="Nurse" method="get">


            <div class="card">
                <div class="card-header text-bold">
                    @(Model.Patient?.Name ?? "Not applicable") @(Model.Patient?.Surname ?? "Not applicable")
                </div>
                </div>

                <!-- Allergies -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title text-bold">Allergies</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="allergiesTable" class="table table-bordered table-striped">
                                        <thead></thead>
                                        <tbody>
                                            @if (Model.Allergies != null && Model.Allergies.Any())
                                            {
                                                foreach (var allergy in Model.Allergies)
                                                {
                                                    <tr>
                                                        <td>@allergy.Name</td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr><td>No allergies added.</td></tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Current Medication -->
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title text-bold">Current Medication</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="medicationTable" class="table table-bordered table-striped">
                                        <thead></thead>
                                        <tbody>
                                            @if (Model.General_Medication != null && Model.General_Medication.Any())
                                            {
                                                foreach (var medication in Model.General_Medication)
                                                {
                                                    <tr>
                                                        <td>@medication.Name</td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr><td>No medication added.</td></tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Conditions -->
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title text-bold">Conditions</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="conditionsTable" class="table table-bordered table-striped">
                                        <thead></thead>
                                        <tbody>
                                            @if (Model.Conditions != null && Model.Conditions.Any())
                                            {
                                                foreach (var condition in Model.Conditions)
                                                {
                                                    <tr>
                                                        <td>@condition.Name</td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr><td>No conditions added.</td></tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                           
                            </div>
                        </div>
                    </div>
               @*<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Condition2", "Nurse", new { id = Model.IDNo })'">
    ADD
</button>*@


            </div>
        </form>
    </body>
</div>

