@model IEnumerable<Day_Hospital_e_prescribing_system.ViewModel.BookedDetailsVM>

@{
    ViewData["Title"] = "PatientsVitals";
    Layout = "~/Views/Shared/NurseLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="text-center ">
            <h3 class="display-6 text-primary text-center text-bold">ADD PATIENT'S VITALS</h3>
        </div>
    </div>
</div>
<br />
<body>
    <form asp-action="PatientsVitals" method="get">

        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="card">
            <div class="body">
                <div class="card-header text-bold">
                    Patients
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <table class="table table-striped table-bordered" id="myTable">
                                <thead>

                                    <div class="card">
                                        <div class="card-header">
                                            <div class="text-center ">
                                            </div>
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="form-group mr-2">
                                                        <label for="startDate" class="mr-2">Search Date:</label>
                                                        <input type="date" name="startDate" id="startDate" class="form-control" value="@ViewData["StartDate"]" />
                                                    </div>
                                                    @*   <div class="form-group mr-2">
                                                    <button type="submit" class="btn btn-primary">Filter</button>
                                                    </div>*@

                                                    <br />
                                                    <br />
                                                    <br />
                                                    <!-- Display patients -->

                                                    <table class="table table-striped table-bordered" id="myTable">
                                                        <thead>
                                                            <tr>
                                                                <th>Date</th>
                                                                <th>Time</th>
                                                                <th>Patient</th>
                                                                @* <th>Treatment Code</th>*@
                                                                <th>Theatre</th>
                                                                <th>Anesthesiologist</th>
                                                                <th>Surgeon</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model == null || !Model.Any())
                                                            {
                                                                <tr>
                                                                    <td colspan="6">No surgeries found for the selected date.</td>
                                                                </tr>
                                                            }
                                                            else
                                                            {
                                                                @foreach (var item in Model)
                                                                {
                                                                    <tr>
                                                                        <td>@item.Date.ToString("dd/MM/yyyy")</td>
                                                                        <td>@item.Time</td>
                                                                        <td>@item.PatientName @item.PatientSurname</td>
                                                                        @* <td>
                                                                @if (item.SurgeryCodes != null && item.SurgeryCodes.Any())
                                                                {
                                                                @string.Join(", ", item.SurgeryCodes)
                                                                }
                                                                else
                                                                {
                                                                <span>No treatment codes</span>
                                                                }
                                                                </td>*@
                                                                        <td>@item.TheatreName</td>
                                                                        <td>@item.AnaesthesiologistName @item.AnaesthesiologistSurname</td>
                                                                        <td>@item.SurgeonName @item.SurgeonSurname</td>
                                                                        <td>
                                                                            <a asp-action="DisplayVitalsPerPatient" asp-route-id="@item.PatientID" class="btn btn-primary">
                                                                                VITALS RECORD
                                                                            </a>
                                                                            <a asp-action="SaveVitals" asp-route-id="@item.PatientID" class="btn btn-primary">
                                                                                ADD VITALS
                                                                            </a>
                                                                        </td>

                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>

                                                </div>


                                   
                            
                        </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    
                   
    </form>
    </body>

