@model Day_Hospital_e_prescribing_system.ViewModel.VitalsVM
@{
    ViewData["Title"] = "SaveVitals";
    Layout = "~/Views/Shared/NurseLayout.cshtml";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<style>
    * {
        box-sizing: border-box;
    }

    body {
        background-color: #f1f1f1;
    }

    #regForm {
        background-color: #ffffff;
        margin: 100px auto;
        font-family: Raleway;
        padding: 40px;
        width: 70%;
        min-width: 300px;
    }

    h1 {
        text-align: center;
    }

    input {
        padding: 10px;
        width: 100%;
        font-size: 17px;
        font-family: Raleway;
        border: 1px solid #aaaaaa;
    }

        /* Mark input boxes that gets an error on validation: */
        input.invalid {
            background-color: #ffdddd;
        }

    /* Hide all steps by default: */
    .tab {
        display: none;
    }

    button {
        background-color: #007bff;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        font-size: 17px;
        font-family: Raleway;
        cursor: pointer;
    }

        button:hover {
            opacity: 0.8;
        }

    #prevBtn {
        background-color: #bbbbbb;
    }

    /* Make circles that indicate the steps of the form: */
    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

        .step.active {
            opacity: 1;
        }

        /* Mark the steps that are finished and valid: */
        .step.finish {
            background-color: #04AA6D;
        }


    .card-title {
        font-weight: bold;
    }

</style>

<div class="card">
    <div class="card-header">
        <div class="text-center">
            <h3 class="display-6 text-primary text-center text-bold">VITALS</h3>
        </div>
    </div>
    <form asp-action="SaveVitals" method="post">
      @*  <input type="hidden" asp-for="SurgeryID" />*@
        <div class="card">
            <div class="body">
                <div class="card-header text-bold">
                    @Model.Name @Model.Surname
                </div>
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card">
                    <div class="card-header">
                        <div class="text-center"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="startDate">Date:</label>
                                    <input type="date" asp-for="Date" class="form-control" />
                                    <span class="text-danger" asp-validation-for="Date"></span>
                                </div>
                                <div class="form-group col-6">
                                    <label class="form-label">Time:</label>
                                    <input type="time" asp-for="Time" class="form-control" />
                                    <span class="text-danger" asp-validation-for="Time"></span>
                                </div>
                                <div class="form-group col-md-12">
                                    @for (int i = 0; i < Model.Vitals.Count; i++)
                                    {
                                        <label>@Model.Vitals[i].Vital</label>
                                        <input type="hidden" asp-for="Vitals[i].VitalsID" />
                                        <input type="text" asp-for="Vitals[i].Value" class="form-control" />
                                        <input type="hidden" asp-for="Vitals[i].Vital" />
                                        @* <input type="hidden" asp-for="Vitals[i].Min" />
                                    <input type="hidden" asp-for="Vitals[i].Max" />*@
                                        <span asp-validation-for="Vitals[i].Value" class="text-danger"></span>
                                        <small class="form-text text-muted">
                                            Normal Range: @Model.Vitals[i].Min - @Model.Vitals[i].Max
                                        </small>
                                    }

                                </div>
                                <div class="form-group col-md-12">
                                    <label for="medicationList">Additional Notes:</label>
                                    <textarea asp-for="Notes" class="form-control"></textarea>
                                    <span class="text-danger" asp-validation-for="Notes"></span>
                                </div>
                                <div style="overflow:auto;">
                                    <div style="float:right;">
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>








