@model IEnumerable<Day_Hospital_e_prescribing_system.Models.Patient>
@{
    ViewData["Title"] = "DischargePatient";
    Layout = "~/Views/Shared/SurgeonLayout.cshtml";
    var items = ViewBag.Patient as IEnumerable<Patient>;
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<section class="content">
    <div class="card">
        <div class="card-header">
            <br />
            <h4 class="display-6 text-warning text-center text-bold">DISCHARGE PATIENTS</h4>
        </div>
    </div>
    <div class="container p-3 text-md-center">
        <div class="col-md-4">
            <!-- Search bar -->
            <form asp-action="DischargePatient" method="get">
                <div class="input-group">
                    <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Search by ID Number">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <br />
        @if (Model.Any())
        {
            <table id="patientsTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Patient Name</th>
                        <th>Email Address</th>
                        <th>Gender</th>
                        <th>ID Number</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name @item.Surname</td>
                            <td>@item.Email</td>
                            <td>@item.Gender</td>
                            <td>@item.IDNo</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No discharged patients to view.</p>
        }
        <button type="button" class="btn btn-danger text-bold" onclick="location.href='@Url.Action("Dashboard", "Surgeon")'">Back</button>
    </div>
</section>