@model IEnumerable<Day_Hospital_e_prescribing_system.Models.Patient>
@{
    ViewData["Title"] = "Patients";
    Layout = "~/Views/Shared/SurgeonLayout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<style>
    .spaced {
        margin-left: 10px;
    }

    .secondSpace {
        margin-left: 80px;
    }

    .buttonSize {
        width: 100px
    }

</style>
<section class="content">
    <div class="card">
        <div class="card-header">
            <br />
            <h4 class="display-6 text-warning text-center text-bold">PATIENT RECORDS</h4>
        </div>
    </div>
    <div class="container p-3 text-md-center">
        <div class="row">
            <div class="col-md-12 text-left">
                <h5>Search for patient:</h5>
                <form asp-action="Patients" method="get">
                    <div class="input-group">
                        <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Search by ID Number" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <a href="@Url.Action("Patients", "Surgeon")" class="btn spaced btn-danger btn-block text-bold buttonSize">Reset</a>
                        <button type="button" class="btn secondSpace btn-warning text-bold" onclick="location.href='@Url.Action("AddPatients", "Surgeon")'">
                            Add Patient
                        </button>
                        <button type="button" class="btn spaced btn-warning text-bold" onclick="location.href='@Url.Action("AdmittedPatients", "Surgeon")'">
                            Admitted Patients
                        </button>
                    </div>
                </form>
            </div>
            <br />
            
        </div>
        <br />
        <table id="patientsTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                    <th>ID Number</th>
                    <th>Gender</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var patient in Model)
                {
                    <tr>
                        <td>@patient.Name</td>
                        <td>@patient.Surname</td>
                        <td>@patient.Email</td>
                        <td>@patient.IDNo</td>
                        <td>@patient.Gender</td>
                        <td>@patient.Status</td>
                        <td>
                            @if (patient != null)
                            {
                                <a asp-action="PatientRecord" asp-route-id="@patient.IDNo" class="btn btn-warning">
                                    Record
                                </a>
                                <a asp-action="Prescriptions" asp-route-id="@patient.IDNo" class="btn btn-warning">
                                    Prescriptions
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="button" class="btn btn-danger text-bold" onclick="location.href='@Url.Action("Dashboard", "Surgeon")'">Back</button>
    </div>
</section>