@using Day_Hospital_e_prescribing_system.Models
@model IEnumerable<Day_Hospital_e_prescribing_system.Models.Patient>
@{
    ViewData["Title"] = "Patients";
    Layout = "~/Views/Shared/SurgeonLayout.cshtml";
    var patients = ViewBag.Patient as IEnumerable<Patient>;
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<section class="content">

    <div class="card">
        <div class="card-header">
            <br />
            <h4 class="display-6 text-warning text-center text-bold">PATIENT RECORDS</h4>
        </div>
    </div>

    <div class="container p-3 text-md-center">
        <div class="col-md-4">
            <!-- Search bar -->
            <div class="input-group">
                <input type="text" id="searchInput" class="form-control" placeholder="Search ID">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="searchButton">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div style="text-align:end">
            <button type="button" class="btn btn-warning text-bold" onclick="location.href='@Url.Action("AddPatients", "Surgeon")'">
                Add Patient
            </button>
        </div>
        <br />
        <table id="patientsTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Patient Name
                    </th>
                    <th>
                        Email Address
                    </th>
                    <th>
                        Cell Number
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>

            @foreach (var patient in patients)
            {
                <tbody>
                    <tr>
                        <td>@patient.Name</td>
                        <td>@patient.Email</td>
                        <td>@patient.ContactNo</td>
                        <td>@patient.Gender</td>
                        <td>@patient.Status</td>
                        <td>
                            <a asp-action="EditPatient" asp-route-id="@patient.PatientID" class="btn btn-primary">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
        <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Dashbaord", "Surgeon")'">Back</button>
    </div>
</section>