@using Day_Hospital_e_prescribing_system.Models
@model IEnumerable<Day_Hospital_e_prescribing_system.Models.Prescription>
@{
    ViewData["Title"] = "Prescriptions";
    Layout = "~/Views/Shared/SurgeonLayout.cshtml";
    var prescriptions = ViewBag.Prescription as IEnumerable<Prescription>;
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<section class="content">
    <div class="card">
        <div class="card-header">
            <br />
            <h4 class="display-6 text-warning text-center text-bold">PRESCRIPTIONS</h4>
        </div>
    </div>
    <h5 class="display-6 text-bold">Patient Name: John Doe</h5>

    <br />
    <div class="row mb-3">
        <div class="col-md-4">
            <!-- Search bar -->
            <div class="input-group">
                <input type="text" id="searchInput" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="searchButton">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <!-- Admission date filter -->
            <div class="input-group">
                <input type="date" id="admissionDateFilter" class="form-control">
            </div>
        </div>
    </div>
    <div style="text-align:end">
        <button type="button" class="btn btn-warning text-bold" onclick="location.href='@Url.Action("NewPrescription", "Surgeon")'">
            New Prescription
        </button>
    </div>
    <div class="container p-3 text-md-center">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Medication
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Instruction
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>

            @foreach (var prescription in prescriptions)
            {
                <tbody>
                    <tr>
                        <td>@prescription.Date</td>
                        <td>@prescription.Medications</td>
                        <td>@prescription.Quantity</td>
                        <td>@prescription.Status</td>
                        <td>
                            <a asp-action="EditPresciption" asp-route-id="@prescription.PrescriptionID" class="btn btn-primary">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
        <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Dashbaord", "Surgeon")'">Back</button>
    </div>
</section>