@using Day_Hospital_e_prescribing_system.ViewModel
@model IEnumerable<Day_Hospital_e_prescribing_system.ViewModel.SurgeryDetailsViewModel>
@{
    ViewData["Title"] = "Surgeries";
    Layout = "~/Views/Shared/SurgeonLayout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<section class="content">
    <div class="card">
        <div class="card-header">
            <h4 class="display-6 text-warning text-center text-bold">BOOKED SURGERIES</h4>
        </div>
    </div>
    <br />
    <div class="row mb-3">
        <div class="col-md-4">
            <h5>Filter Table:</h5>
            <form method="get" asp-controller="Surgeon" asp-action="Surgeries">
                <div class="input-group">
                    <input type="date" name="filterDate" value="@(((DateTime?)ViewBag.FilterDate)?.ToString("yyyy-MM-dd"))" class="form-control" id="dateFilter" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("Surgeries", "Surgeon")" class="btn btn-danger btn-block">Reset</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <h5>Generate Report:</h5>
            <form asp-action="GenerateSurgeriesReport" method="get" class="form-inline mb-3">
                <div class="form-group mr-2">
                    <label for="startDate" class="mr-2">Start Date:</label>
                    <input type="date" name="startDate" id="startDate" class="form-control" value="@ViewData["StartDate"]" />
                </div>
                <div class="form-group mr-2">
                    <label for="endDate" class="mr-2">End Date:</label>
                    <input type="date" name="endDate" id="endDate" class="form-control" value="@ViewData["EndDate"]" />
                </div>
                <button type="submit" class="btn btn-warning text-bold">Generate</button>
            </form>
        </div>
    </div>
    <div style="text-align:end">
        <button type="button" class="btn btn-warning text-sm text-bold" onclick="location.href='@Url.Action("NewSurgery", "Surgeon")'">
            New Surgery
        </button>
    </div>
    <div class="container p-3 text-md-center">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Patient</th>
                    <th>Treatment Code</th>
                    <th>Theatre</th>
                    <th>Anesthesiologist</th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null || !Model.Any())
                {
                    <tr>
                        <td colspan="6">No surgeries found for the selected date.</td>
                    </tr>
                }
                else
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Date </td>
                            <td>@(item.Time ?? " ")</td>
                            <td>@item.PatientName @item.PatientSurname</td>
                            <td>
                                @if (item.TreatmentCodes != null && item.TreatmentCodes.Any())
                                {
                                    @string.Join(", ", item.TreatmentCodes)
                                }
                                else
                                {
                                    <span>No treatment codes</span>
                                }
                            </td>
                            <td>@item.TheatreName</td>
                            <td>@item.AnaesthesiologistName @item.AnaesthesiologistSurname</td>

                        </tr>
                    }
                }
            </tbody>
        </table>
        <button type="button" class="btn btn-danger text-sm text-bold" onclick="location.href='@Url.Action("Dashboard", "Surgeon")'">
            Back
        </button>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('#generate-report').click(function () {
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GenerateSurgeriesReport", "Surgeon")',
                data: { startDate: startDate, endDate: endDate },
                success: function (data) {
                    // The PDF report has been generated successfully
                    // You can display a message to the user or redirect them to a new page
                    window.location.href = '@Url.Action("DownloadReport", "Surgeoon")';
                },
                error: function (xhr, status, error) {
                    // An error occurred while generating the report
                    console.log(error);
                }
            });
        });
    });
</script>