@using Day_Hospital_e_prescribing_system.Models
@model IEnumerable<Day_Hospital_e_prescribing_system.Models.Surgery>
@{
    ViewData["Title"] = "Surgeries";
    Layout = "~/Views/Shared/SurgeonLayout.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<section class="content">

    <div class="card">
        <div class="card-header">
            <h4 class="display-6 text-warning text-center text-bold">BOOKED SURGERIES</h4>
        </div>
    </div>    <br />
    <div class="row mb-3">
        <div class="col-md-4">
            <!-- Admission date filter -->
            <div class="input-group">
                <input type="date" name="Date" value="@ViewData["CurrentDate"]" class="form-control" id="dateFilter" />
            </div>
        </div>
    </div>
    <div style="text-align:end">
        <button type="button" class="btn btn-warning text-sm text-bold" onclick="location.href='@Url.Action("NewSurgery", "Surgeon")'">
            New Surgery
        </button>
        <button type="button" class="btn btn-warning text-sm text-bold" onclick="location.href='@Url.Action("ConfirmTreatmentCodes", "Surgeon")'">
            Confirm Treatment Code
        </button>
    </div>
    <div class="container p-3 text-md-center">
        <form method="get" asp-controller="Surgeon" asp-action="Surgeries">
            <table id="surgeryTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Time
                        </th>
                        <th>
                            Patient
                        </th>
                        <th>
                            Treatment Code
                        </th>
                        @* <th>
                            Ward
                        </th>
                        <th>
                            Bed
                        </th> *@
                        <th>
                            Nurse
                        </th>
                        <th>
                            Theatre
                        </th>
                        <th>
                            Anesthesiologist
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Date</td>
                            <td>@item.Time</td>
                            <td>@item.Patients.Name @item.Patients.Surname</td>
                            <td>@item.Surgery_TreatmentCodes</td>
                            <td>@item.Nurses.NurseID</td>
                            <td>@item.Theatres.Name</td>
                            <td>@item.Anaesthesiologists.AnaesthesiologistID</td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
        <button type="button" class="btn btn-danger text-sm text-bold" onclick="location.href='@Url.Action("Dashboard", "Surgeon")'">
            Back
        </button>
    </div>
</section>