@model Day_Hospital_e_prescribing_system.ViewModel.PatientViewModel
@{
    ViewData["Title"] = "Medical History";
    Layout = "~/Views/Shared/Anaesthesiologist.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    .card-title {
        font-weight: bold;
    }

    .btn-purple {
        background-color: purple;
        color: white;
        font-weight: bold;
    }


    .table th, .table td {
        padding: 5px; /* Reduce padding */
    }

    .table {
        width: auto; /* Auto width for the table */
    }

    .vitals-table th, .vitals-table td {
        padding: 10px; /* Increase padding */
        font-size: 1.2em; /* Increase font size */
    }

    .vitals-table {
        width: 100%; /* Adjust width as needed */
    }
</style>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h4 class="display-6 text-purple text-center text-bold">MEDICAL HISTORY</h4>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-8">
                                <h3 class="card-title">@Model.Name @Model.Surname</h3>
                              
                               
                           </div>
                            <div class="col-md-2 text-right">
                                <button type="submit" class="btn btn-purple">Prescriptions</button>
                            </div>
                            <div class="col-md-2 text-right">
                                <button type="submit" class="btn btn-purple">Orders</button>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-8">
                           
                                <h3 class="card-title">@Model.Date.ToString("dd MMM yyyy")</h3>
                            </div>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Height</th>
                                    <th>Weight</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.Height</td>
                                    <td>@Model.Weight</td>
                                </tr>
                            </tbody>
                        </table>
                        <h2>Vitals</h2>
                        <table class="table vitals-table">
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>Vital</th>
                                    <th>Min</th>
                                    <th>Max</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var vital in Model.Vitals)
                                {
                                    <tr>
                                        <td>@vital.Time</td>
                                        <td>@vital.Vital</td>
                                        <td>@vital.Min</td>
                                        <td>@vital.Max</td>
                                        <td>@vital.Notes</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <br />
                        <div class="row">
                            <div class="col-md-4">
                                @*<h3>Allergies</h3>*@
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Allergy</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var allergy in Model.Allergies)
                                        {
                                            <tr>
                                                <td>@allergy</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                @*<h3>Chronic Conditions</h3>*@
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Chronic Conditions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var condition in Model.Conditions)
                                        {
                                            <tr>
                                                <td>@condition</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                               @* <h3>Medications</h3>*@
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Current Medication</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var medication in Model.Medications)
                                        {
                                            <tr>
                                                <td>@medication</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
