@model List<Day_Hospital_e_prescribing_system.ViewModel.OrderViewModel>
@{
    ViewData["Title"] = "Patient Orders";
    Layout = "~/Views/Shared/Anaesthesiologist.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    .card-title {
        font-weight: bold;
    }

    .btn-purple {
        background-color: purple;
        color: white;
        font-weight: bold;
    }
</style>

<section class="content">
    <div class="card">
        <div class="card-header">
            <div class="text-center ">
                @*                <img src="~/Images/zoomedLogo (2).png" width="200" />
                *@
            </div>
            <br />
            <h4 class="display-6 text-purple text-center text-bold">PATIENT ORDERS</h4>
        </div>
    </div>
    <div><br /></div>
   
     <form id="filterForm" asp-action="Orders" method="get">
        <div class="form-row">
            <div class="col-md-4">
                
                    <input type="date" name="Date" value="@ViewData["CurrentDate"]" class="form-control" id="dateFilter" />
                    
                        
                    </div>
                    <div class="col-md-1 ml-auto">
                        <a href="@Url.Action("Orders", "Anaesthesiologist")" class="btn btn-danger btn-block">Reset</a>
                    </div>
                </div>
                </form>
            

        
        <div class="mb-3"></div>
        <!-- Display patients -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-8">
                                @*<h3 class="card-title">@Model.FirstOrDefault()?.Name @Model.FirstOrDefault()?.Surname</h3>*@
                                </div>
                            
                            <div class="col-md-2 text-right">
                                <a href="@Url.Action("Prescriptions", "Anaesthesiologist", new { id = Model.FirstOrDefault()?.PatientID  })" class="btn btn-purple">Prescriptions</a>
                            </div>
                            <div class="col-md-2 text-right">
                                <a href="@Url.Action("CaptureOrders", "Anaesthesiologist", new { id = Model.FirstOrDefault()?.PatientID  })" class="btn btn-purple">Order Form</a>
                            </div>
                        </div>
                    
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Medciation</th>
                                        <th>Quantity</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var order in Model)
                                    {
                                        <tr>
                                           
                                            <td>@order.Date.ToString("dd MMM yyyy")</td>
                                            <td>@order.MedicationName</td>
                                            <td>@order.Quantity</td>
                                            <td>@order.Status</td>
                                              <td>
                                                @if (order.Status == "ordered")
                                                {
                                                        <a href="#" class="btn btn-primary edit-order" data-id="@order.OrderID" title="Edit">
                                                            <i class="fas fa-edit"></i>
                                                        </a>
                                                            
                        
                                                        <a href="#" class="btn btn-danger delete-order" data-id="@order.OrderID" title="Delete">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </a>
                                                }
                                        </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        @*<div class="text-center">
                            <button type="button" class="btn btn-purple">Save</button>
                        </div>*@
                    </div>  
                             
                        </div>
                    </div>
                </div>
            </div>
   
</section>
<script>
    $(document).ready(function () {
        $('#dateFilter').change(function () {
            $('#filterForm').submit();
        });
        $('.delete-order').click(function (e) {
            e.preventDefault();
            var orderId = $(this).data('id');
            var confirmDelete = confirm("Are you sure you want to delete this order?");
            if (confirmDelete) {
                window.location.href = '@Url.Action("DeleteOrder", "Anaesthesiologist")' + '/' + orderId;
            }
        })
    });

</script>

