@model Day_Hospital_e_prescribing_system.ViewModel.OrderViewModel
@{
    ViewData["Title"] = "Index1";
    Layout = "~/Views/Shared/Anaesthesiologist.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    .card-title {
        font-weight: bold;
    }

    .btn-purple {
        background-color: purple;
        color: white;
        font-weight: bold;
    }
</style>

<section class="content">
    <div class="card">
        <div class="card-header">
            <div class="text-center ">
                @*                <img src="~/Images/zoomedLogo (2).png" width="200" />
                *@
            </div>
            <br />
            <h4 class="display-6 text-purple text-center text-bold">ORDERS</h4>
        </div>
    </div>
    <div><br /></div>
   
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <!-- Calendar to select date -->
                <div class="card">
                    
                    <div class="card-body">
                        <input type="date" id="selectedDate" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <!-- Display patients -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-8">
                                <h3 class="card-title">@Model.Name @Model.Surname</h3>
                                </div>
                            
                            <div class="col-md-2 text-right">
                                <a href="@Url.Action("Precriptions", "Anaesthesiologist", new { id = Model.PatientID })" class="btn btn-purple">Precriptions</a>
                            </div>
                            <div class="col-md-2 text-right">
                                <a href="@Url.Action("Order Form", "Anaesthesiologist", new { id = Model.PatientID })" class="btn btn-purple">Order Form</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Medciation</th>
                                        <th>Quantity</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var order in Model.Orders)
                                    {
                                        <tr>
                                           
                                            <td>@order.Date.ToString("dd MMM yyyy")</td>
                                            <td>@order.Medication</td>
                                            <td>@order.Quantity</td>
                                            <td>@order.Status</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="text-center">
                            <button type="button" class="btn btn-purple">Save</button>
                        </div>
                    </div>  <!-- Patient data will be populated here -->
                             
                        </div>
                    </div>
                </div>
            </div>
     
</section>

