@model IEnumerable<Day_Hospital_e_prescribing_system.ViewModel.PatientViewModel>
@{
    ViewData["Title"] = "Index1";
    Layout = "~/Views/Shared/Anaesthesiologist.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    .card-title {
        font-weight: bold;
    }

    .btn-view {
        background-color: purple;
        color: white;
    }

    .btn-purple {
        background-color: purple;
        color: white;
        font-weight: bold;
    }
</style>

<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="text-center ">
                @*                <img src="~/Images/zoomedLogo (2).png" width="200" />
                *@
            </div>
            <br />
            <h4 class="display-6 text-purple text-center text-bold"> PATIENT RECORDS</h4>
        </div>
    </div>
    <div><br></div>
    
        
            <!-- Search bar -->
        <form asp-action="ViewPatients" method="get" class="form-inline mb-3">
        <div class="form-row">
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" placeholder="Search by surname" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <input type="date" name="admissionDate" value="@ViewData["CurrentDate"]" class="form-control" />
            </div>

            <div class="col-md-1 ml-auto">
                <a href="@Url.Action("ViewPatients", "Anaesthesiologist")" class="btn btn-danger btn-block">Reset</a>
            </div>
        </div>
        <br>
              
    <!-- Display patients -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Patient</th>
                                    <th>Surname</th>
                                    <th>Time</th>
                                    <th>Ward</th>
                                    <th>Bed</th>
                                    <th>Nurse</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Date.ToShortDateString()</td>
                                        <td>@item.Patient</td>
                                       
                                        <td>@item.Time</td>
                                        <td>@item.Ward</td>
                                        <td>@item.Bed</td>
                                        <td>@item.Nurse</td>
                                        <td>@item.Status</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>        
</section>


