@model List<Day_Hospital_e_prescribing_system.ViewModel.HospitalRecordViewModel>

@{
    ViewData["Title"] = "Hospital Record";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<style>
    .card-title {
        font-weight: bold;
    }

    .text-dark-green {
        color: darkgreen;
    }

    .btn-outline-darkgreen {
        color: darkgreen;
        border-color: darkgreen;
    }

        .btn-outline-darkgreen:hover {
            color: white;
            background-color: darkgreen;
            border-color: darkgreen;
        }

    .btn-dark-green {
        color: white;
        background-color: darkgreen;
        border-color: darkgreen;
    }

        .btn-dark-green:hover {
            color: white;
            background-color: darkgreen;
            border-color: darkgreen;
        }

    .form-group {
        margin-bottom: 1rem;
    }

        .form-group label {
            font-weight: bold;
        }
</style>

<section class="content">
    <div class="card">
        <div class="card-header">
            <div class="text-center ">
                <!-- Optional Logo -->
            </div>
            <br />
            <h4 class="display-6 text-dark-green text-center text-bold">DAY HOSPITAL RECORD</h4>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card-body">

                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Name:</th>
                                <td>@Model.FirstOrDefault()?.Name</td>
                            </tr>
                            <tr>
                                <th>Address:</th>
                                <td>@Model.FirstOrDefault()?.AddressLine1</td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>@Model.FirstOrDefault()?.AddressLine2</td>
                            </tr>
                            <tr>
                                <th>Suburb:</th>
                                <td>@Model.FirstOrDefault()?.SuburbName</td>
                            </tr>
                            <tr>
                                <th>City:</th>
                                <td>@Model.FirstOrDefault()?.CityName</td>
                            </tr>
                            <tr>
                                <th>Province:</th>
                                <td>@Model.FirstOrDefault()?.ProvinceName</td>
                            </tr>
                            <tr>
                                <th>Postal Code:</th>
                                <td>@Model.FirstOrDefault()?.PostalCode</td>
                            </tr>
                            <tr>
                                <th>Contact Number:</th>
                                <td>@Model.FirstOrDefault()?.ContactNo</td>
                            </tr>
                            <tr>
                                <th>Email:</th>
                                <td>@Model.FirstOrDefault()?.Email</td>
                            </tr>
                            <tr>
                                <th>Purchase Manager:</th>
                                <td>@Model.FirstOrDefault()?.PM</td>
                            </tr>
                            <tr>
                                <th>Purchase Manager Email:</th>
                                <td>@Model.FirstOrDefault()?.PMEmail</td>
                            </tr>

                            <!-- Add more rows for other headings -->
                        </tbody>
                    </table>
                </div>
                <br />
                <div class="text-center">

                    <button type="button" class="btn btn-dark-green" onclick="location.href='@Url.Action("EditHospitalRecord", "Admin", new { id = Model.FirstOrDefault()?.HospitalRecordID })'">
                        <i class="fas fa-edit"></i>
                    </button>



                </div>

            </div>
        </div>
    </div>

</section>


